SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_ANON_KEY=eyJhbGci...
STRIPE_PUBLISHABLE_KEY=pk_test_...
SUPABASE_DATABASE_PASSWORD=
SUPABASE_EMAIL_REDIRECT_URL=com.madbeauty.madbeauty://login-callback
